$sidebar-width: 200px;

// COLORS
$grey-color: #eee;

/*------- BREAKPOINT -------*/
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-maximum: 1640px;

//$mobile: "(max-width: ${breakpoint-mobile})";
//$only-mobile: "(max-width: @{breakpoint-tablet})";
//$tablet: "(min-width: ${breakpoint-tablet})";
//$desktop: "(min-width: {breakpoint-desktop})";



@function toRem($px) {
  @return ($px / 16) + rem;
}

@function toRemMob($px) {
  @return $px / 12.834 + rem;
}


// For media
@mixin mobile {
	@media (max-width: $breakpoint-mobile ) {
		@content;
	}
}

@mixin only-mobile {
	@media (max-width: $breakpoint-tablet) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: $breakpoint-tablet) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: $breakpoint-tablet) {
		@content;
	}
}
