/*------- ОСНОВНЫЕ РАЗМЕРЫ ШРИФТОВ -------*/
$font-size: 3.1vw;
$font-size-tablet: 15px;
$font-size-desktop: 1.20391vw;

/*------- BREAKPOINT -------*/
$breakpoint-desktop: 640px;
$breakpoint-tablet: 640px;
$breakpoint-maximum: 1800px;

@mixin _desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin _mobile {
  @media (max-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin _max {
  @media (min-width: $breakpoint-maximum) {
    @content;
  }
}

/*------- ПЕРЕВОД В REM -------*/
@function toRem($px) {
  @return ($px / 22.57) + rem;
}

@function toRemMob($px) {
  @return $px / 22 + rem;
}


$body-background: #1C1A32;
$white-color: #fff;
$grey-color: #3A3762;
$grey-color-two: #a7a7a7;
$grey-color-three: #3b3953;
$dark-grey-color: #211F3C;
$black-color: #1C1A32;
$green-color: #6FFF74;
$green-color-two: #01854e99;
$red-color: #FF5050;
$blue-color: #1200FF;
$sea-color: #00aabd;
$blue-gradient: linear-gradient(135deg, #00E5FF 0%, #1200FF 100%);

